:root{

    --color-blanco: #fff;
    --color-negro: #111;
    --color-gris: gray;
    --color-blanco2: lightgray;
    --color-verde: green;
    --color-amarillo: yellow;
    --color-rojo: red;
    --color-violeta: violet;
    --color-azul: blue;
    --color-gris-oscuro: rgb(88, 86, 86);
    --color-gris-claro: rgb(141, 133, 133);
    --color-aqua: rgb(108, 250, 231);
   --color-rosa: rgb(253, 170, 221);
   --color-violeta-fuerte: rgb(148, 40, 107);
   --color-naranja: rgb(194, 126, 0);
   --color-violeta-claro: rgb(190, 51, 137);

}
