header{

    background: url(https://p4.wallpaperbetter.com/wallpaper/452/849/118/textures-backgrounds-1920x1200-abstract-textures-hd-art-wallpaper-preview.jpg) no-repeat center;
    background-size: cover;

}

.nav{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}

.search-div{

    display: flex;
    flex-direction: row;

}

.search{

    border: none;
    border-bottom: 2px solid var(--color-violeta-fuerte);
    background: transparent;
    outline: none;
    height: 30px;
    color: var(--color-blanco);
    font-size: 16px;
    padding: 1rem;


}

.search-icon{

    background: var(--color-violeta-fuerte);
    padding: 5px;

}

.container{

    max-width: 1068px;
    margin: auto;
    width: 100%;

}

.background .logo{

    width: 6vw;

}

.count-product{

    position: absolute;
    right: 3rem;

}


.cart-products{

    position: absolute!important;
    width: 39px;
    right: 1rem;
    align-items: center;
    text-align: center;
    margin: 1rem;
    line-height: 1.2rem;
    right: 2rem;
    top: 16vh;
    padding: 0 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    min-width: 290px;
    display: none;


}

.cart{
    width: 39px;
    height: 38px;
    cursor: pointer;
}

.cart:hover{
    transition-duration: .2s;
    background-color: var(--color-violeta-fuerte);
    padding: .1rem;
}

#close-x{

    color: var(--color-rojo);
    font-weight: 600;
    background: var(--color-gris);
    padding: .1rem;
    margin-bottom: 10px;
    cursor: pointer;

}

#close-x:hover{

    color: var(--color-rojo);
    background: var(--color-negro);
    padding: .2rem;

}

#cart-icon{

    font-size: 1.8rem;
    cursor: pointer;

}

section{

    background: url(https://previews.123rf.com/images/olenayepifanova/olenayepifanova1712/olenayepifanova171200004/91139497-textura-de-m%C3%A1rmol-blanco-y-azul-claro-fondo-de-vector-plantilla-textura-fondo-de-pantalla-patr%C3%B3n-de-.jpg);
    background-size: cover;

}

.section-title{

    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    color:var(--color-violeta-fuerte);
    font-size: 30px;

}

.shop{

    margin-top: 2rem;

}

.product-button{

    float: right;
    padding: 10px 20px;
    background-color: var(--color-negro);
    color:var(--color-blanco2);
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 15%;

}

.product-button:hover{

    background-color: var(--color-blanco2);
    color: var(--color-negro);

}